language: cpp
os: linux
dist: xenial

jobs:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
      env: COMPILER=gcc-7.4.0
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-6.0
          packages:
            - clang-6.0
      env: COMPILE=clang++-6.0

notifications:
  email: false

before_install:
- sudo apt-get update -qq

install:
- sudo apt-get install -qq cppcheck qt5-default qtbase5-dev lcov

script:
- cppcheck --quiet --error-exitcode=1 .
- mkdir build && cd build
- cmake -DCMAKE_CXX_COMPILER=$COMPILER -DCMAKE_BUILD_TYPE=Coverage .. && make -j4
- cd src
- ./travis_test
- cd ../test
- ./example_test
- cd ..
- make coverage
